.DS_Store
__pycache__/
*.py[cod]
/.build
/Packages
xcuserdata/
DerivedData/
*.profraw
*.profdata
*.xcresult
*.trace
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
